.game-board{
  width: 100%;
  height: auto;

  .row-tile{
    display: flex;
    justify-content:center;
    .col-tile{
      width: 100px;
      height: 100px;
      margin: 1px;
      border: 1px solid #000;
      border-radius: 4px;
      display: flex;
    }
  }

}